h1{
  color: #31A5AC;
}
.images{
  width: 100%;
}
img{
height: 775px;
border-radius: 10px;
}
#clothes{
  margin-left: -25px;
}
.calculation{
   background-color: #F8F8F8;
   border-radius: 10px;
}
.save-input{
  outline: 0;
  border: none;
  border-radius: 4px;
  padding: 5px 8px;
  width: 150px;
  margin-right: 8px;
}