h1{
  color: #31A5AC;
}

/*------------- Image Style -----------*/
.images{
  width: 100%;
}
img{
height: 775px;
border-radius: 10px;
}

/*------------ clothes Style ---------*/
#clothes{
  margin-left: -25px;
}

/*------ Calculation Button Style ----*/
.calculation{
   background-color: #F8F8F8;
   border-radius: 10px;
}

/*---------- Save Input Style --------*/
.saveInput{
  outline: 0;
  border: none;
  border-radius: 4px;
  padding: 5px 8px;
  width: 150px;
  margin-right: 8px;
}